<div class="crud-grid-wrapper">
	<table class="crud-grid">
		<thead>
			<tr>
				<th ng-repeat="format in formats">{{format.Name}}</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in gridData">
				<td ng-repeat="format in formats">
					<div ng-switch on="format.DataType">
						<input ng-switch-when="0" ng-class="{'not-editable': disableEdit || format.disabled}" type="text" ng-model="item[format.Name]" ng-disabled="disableEdit || format.disabled" />

						<input ng-switch-when="1" ng-class="{'not-editable': disableEdit || format.disabled}" type="text" ng-disabled="disableEdit" datetimepicker="item[format.Name] || format.disabled" />

						<input ng-switch-when="2" ng-class="{'not-editable': disableEdit || format.disabled}" type="number" ng-model="item[format.Name]" ng-disabled="disableEdit || format.disabled" />

						<div ng-switch-when="3" class="checkbox">
							<input ng-class="{'not-editable': disableEdit || format.disabled}" type="checkbox" ng-model="item[format.Name]" ng-disabled="disableEdit || format.disabled" />
							<span ng-show="item[format.Name] && disableEdit" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						</div>

						<select ng-switch-when="4" ng-class="{'not-editable': disableEdit || format.disabled}" ng-disabled="disableEdit || format.disabled">
							<option ng-selected="option.selected" id="{{format.Name + option.id}}" ng-repeat="option in item[format.Name]">{{option.text}}</option>
						</select>
					</div>
				</td>
				<td>
					<span ng-show="disableEdit" ng-click="disableEdit = !disableEdit" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					<span ng-show="disableEdit" class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="showDeletePopup($index)"></span>

					<span ng-hide="disableEdit" ng-click="disableEdit = !disableEdit" class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
					<span ng-hide="disableEdit" ng-click="disableEdit = !disableEdit" class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="btn btn-success" ng-click="addNewRow()">Add new row</div>
	<div ng-show="confirmDeletePopup" class="alert alert-danger delete-row" role="alert">
		Are you sure?
		<br />
		<a ng-click="confirmDelete('Yes')" class="alert-link">Yes</a>
		<a ng-click="confirmDelete('No')" class="alert-link">No</a>
	</div>
	<div ng-show="confirmDeletePopup" class="gray-wall"></div>
</div>

